

:host {
  position: relative;
}
.date-picker {
  position: relative;
  color: #000;
}

.calendar-dropdown {
  position: absolute;
  width: 260px;
  opacity: 0;
  transform: translateY(10px);
  transition: all .2s ease-in-out;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.date-picker.active .calendar-dropdown {
  transform: translateY(0);
  opacity: 1;
}

.calendar-dropdown.top {
  top: auto;
  bottom: 100%;
  transform: translate(-50%, -8px);
}

.calendar-dropdown.left {
  top: 50%;
  left: 0;
  transform: translate(calc(-8px + -100%), -50%);
}

.calendar-dropdown.right {
  top: 50%;
  left: 100%;
  transform: translate(8px, -50%);
}

.calendar-dropdown.visible {
  display: block;
}

.header {
  margin: 10px 0 30px;
}

.header p {
  margin: 0;
  font-size: 21px;
  display: inline-block;
  width: 80%;
  text-align: center;
  vertical-align: text-top;
  border: none;
  outline: none;
}

.header button {
  padding: 0;
  border: 8px solid transparent;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-top-color: #222;
  transform: rotate(90deg);
  cursor: pointer;
  background: none;
  position: relative;
  display: inline-block;
  width: 7%;
  text-align: center;
}

.header button::after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header button:last-of-type {
  transform: rotate(-90deg);
}

.week-days {
  margin-bottom: 10px;
}

.week-days span {
  display: inline-block;
  width: 13.4%;
  font-size: 10px;
  text-align: center;
  text-transform: capitalize;
  margin: 1px;
}

.month-days {

}

.month-day {
  padding: 8px 5px;
  background: #c7c9d3;
  color: #fff;
  display: inline-block;
  width: 13.4%;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .2s ease-in-out;
  margin: 1px;
}

.month-day.current {
  background: #444857;
}

.month-day.selected {
  background: #ffffff;
    border: 1px solid #000;
    color: #000;
    font-weight: 700;
}

.month-day:hover {
  background: #000;
  color: #ffffff;
}
